@model HWScheduler.ViewModels.HomeworkList
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <button style="float:right;" class="btn btn-outline-danger">➕</button>

    <table class="table table-striped">
        @*Done | Class | Assignment | Tagname | Due*@
        <thead>
            <tr>
                <th></th>
                <th>Class</th>
                <th>Assignment</th>
                <th>Tag</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var h in Model.Assignments)
            {
                @if ((bool)!h.Done)
                {
                    <tr>
                        @*Set value of done to true*@
                        <td><a asp-action="AssignmentDone" asp-route-id="@h.Id" class="btn btn-outline-success curved">✔</a></td>
                        <td><button class="btn btn-outline-primary" asp-action="ListClasses" asp-route-id="@h.Class.Id">@h.Class.Name</button> </td>
                        <td>@h.Info.Title</td>
                        <td>@h.Line.Tagname</td>
                        <td>@h.Info.Description</td>
                        <td>@h.Info.Duedate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
